{% extends "main/base.html" %}


{% block conteudo %}
	<div>
    	<h1>Registrar</h1>
    	<form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
        	    {% for error in form.username.errors %}
    	    <span style="color:black">[{{ error }}]</span>
    	    {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
    	    {% for error in form.password.errors %}
                <span style="color:black">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
    	    {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color:black">[{{ error }}]</span>
                {% endfor %}
    	</p>
            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Registrar
                <i class="material-icons right">send</i>
            </button>
    	</form>
	</div>
{% endblock%}
