{% extends "main/base.html" %}

{% block conteudo %}
	<div>
		<h3>Cadastro de Sala na Categoria {{ cat_nome }}</h3>
		<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.nome.label }}<br>
			{{ form.nome(size=32) }}<br>
			{% for error in form.nome.errors%}
			<span style="color:black">[{{ error }}]</span>
			{% endfor %}
			{{ form.senha.label }}<br>
			{{ form.senha(size=32) }}<br>
			{% for error in form.senha.errors%}
			<span style="color:black">[{{ error }}]</span>
			{% endfor %}
		</p>
            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Cadastrar
                <i class="material-icons right">send</i>
            </button>
		</form>
	</div>
{% endblock %}
