{% extends "main/base.html" %}


{% block conteudo %}
	<div>
	    <h1>Sala {{ sala.nome }}</h1>
		<a href="{{ url_for('sala.sair_sala', id_sala=sala.id)}}"><button>Sair da sala</button></a>
		{% if current_user.admin or current_user.id==sala.admin_id %}
		<a href="#lista_banidos" rel="modal:open"><button onclick="getBanidos()">Ver lista de banidos</button></a>
		{% endif %}
	</div>
	<div id="main" style="background-color:purple; width:500px; float:left; height:90%; overflow:auto">
		{% for conversa in conversas %}
			{% if conversa.usuario_id == current_user.id %}
				<div class="msg_eu"><p>{{ current_user.nickname }}: {{ conversa.conteudo }}</p></div>
			{% else %}
				{% if conversa.private_id %}
				{% if conversa.private_id == current_user.id %}
				<div class="msg_eles"><p>(reservadamente){{ conversa.remetente.nickname }}: {{ conversa.conteudo }}</p></div>
				{% endif %}
				{% else %}
				<div class="msg_eles"><p>{{ conversa.remetente.nickname }}: {{ conversa.conteudo }}</p></div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<div id="usuarios" style="text-align:center; background-color:blue; width:175px; float:right; height:90%; overflow:auto">
		{% for assoc in sala.usuarios %}
		<a><p>{{ assoc.usuario.nickname }}</p></a>
		{% endfor %}
	</div>
	<div style="width:100%; clear:both">
		<input id="mensagem" type="text" style="width:78%"></input>
		<button id="send" style="width:20%">ENVIAR</button>
		<div id="secretas">
			<label>Enviar para: </label>
			<input type="radio" name="msg_secreta" id="todos" value=""></input>
			<label for="todos">Todos</label>
			{% for usuario in sala.usuarios %}
			<input type="radio" name="msg_secreta" id="{{ usuario.nickname }}" value="{{ usuario.id}}"></input>
			<label for="{{ usuario.nickname }}">{{ usuario.nickname }}</label>
			{% endfor %}
		</div>
	</div>
	<div id="lista_banidos" class="modal">
	  <p>Carregando...</p>
	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="/static/css/jquery.modal.min.css" />
	<script>
		id = {{ id_inicial }}
		pausado = false;
		csrf_token = "{{ csrf_token() }}";

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token);
	            }
	        }
	    });

		setInterval(function(){
			if(!pausado) {
				procurar(id);
			}
		}, 3000)

		setInterval(function(){
			atualizar_estado()
		}, 10000)

		$('#send').click(function(){
			mensagem = $('#mensagem').val()
			if (mensagem) {
				pausado = true
				procurar(id)
				secreta = $("input[name=msg_secreta]:checked").val()
				$.post('{{ url_for('main.enviar_mensagem') }}', {mensagem:$('#mensagem').val(), sala:{{ id_sala }}, secreta: secreta},
					function(data){
						$('#main').append('<div class="msg_eu"><p>{{ current_user.nickname }}: '+mensagem+'</p></div>')
						id = data['id']
						$('#mensagem').val('')
					})
				pausado = false;
			}
		})

		//realiza a busca por mensagens e usuários
		function procurar(identificador) {
			$.post('{{ url_for('main.conversa') }}', {id:identificador, sala:{{ id_sala }}},

			function(data){
				if(data['resposta'] == 'B'){
					alert('VOCÊ FOI BANIDO!')
					window.location.replace("/")
				}
				mensagens = data['mensagens']
				usuarios = data['usuarios']
				id = data['id']

				usuarioshtml = ''
				secretashtml = "<label>Enviar para: </label><input type='radio' name='msg_secreta' id='todos' value=''></input><label for='todos'>Todos</label>"
				mensagenshtml = ''
				for (posicao in mensagens){
					if(mensagens[posicao].private_id){
						mensagenshtml += "<div class='msg_eles'><p>(reservadamente)"+mensagens[posicao].remetente+": "+mensagens[posicao].conteudo+"</p></div>"
					}
					else{
						mensagenshtml += "<div class='msg_eles'><p>"+mensagens[posicao].remetente+": "+mensagens[posicao].conteudo+"</p></div>"
					}
				}
				$('#main').append(mensagenshtml)


				for (posicao in usuarios){
					{% if current_user.admin or current_user.id==sala.admin_id %}
					usuarioshtml += '<a><p>'+usuarios[posicao].nome+'</p><button onclick="banir('+usuarios[posicao].id+')">BANIR</button></a>'
					{% else %}
					usuarioshtml += "<a><p>"+usuarios[posicao].nome+"</p></a>"
					{% endif %}
					secretashtml += "<input type='radio' name='msg_secreta' id='"+usuarios[posicao].nome+"' value='"+usuarios[posicao].id+"'></input><label for='"+usuarios[posicao].nome+"'>"+usuarios[posicao].nome+"</label>"
				}

				atual = $('#usuarios').html()
				if (atual != usuarioshtml) {
					$('#usuarios').html(usuarioshtml)
					$('#secretas').html(secretashtml)
				}
			})
		}

        function atualizar_estado(){
			$.post('{{ url_for('main.update_usuario_sala') }}', {sala_id:{{ id_sala}}},function(data){console.log(data)})
		}

		{% if current_user.admin or current_user.id==sala.admin_id %}
		
		function banir(id_banido){
			$.post('{{ url_for('sala.banir') }}', {sala_id:{{ id_sala}}, usuario_id:id_banido},function(data){console.log(data)})
		}

		function desbanir(id_desbanido){
			$.post('{{ url_for('sala.desbanir') }}', {sala_id:{{ id_sala}}, usuario_id:id_desbanido},function(data){
			})

			$.modal.getCurrent().close();
		}

		function getBanidos(){
			$.get('{{ url_for("sala.get_banidos",sala_id=id_sala) }}', function(data){
				html_banidos = ""
				banidos = data['banidos']
				if( !banidos[0] ){
					$('#lista_banidos').html('<p>Não há usuários banidos nesta sala.</p>')
				}
				else{
					for (posicao in banidos) {
						html_banidos += "<p>"+banidos[posicao].nickname+" <button onclick='desbanir("+banidos[posicao].id+")'>DESBANIR</button></p>"
					}

					$('#lista_banidos').html(html_banidos)
				}
			})
		}
		{% endif %}
	</script>
{% endblock %}
