{% extends "main/base.html" %}


{% block conteudo %}
	<div class="row red darken-3">
		<div class="col s12" style="margin-bottom:3%">
		    <h1>Sala {{ sala.nome }}</h1>
			<a class="waves-effect waves-light btn red darken-4" href="{{ url_for('sala.sair_sala', id_sala=sala.id)}}">Sair da sala</a>
			{% if current_user.admin or current_user.id==sala.admin_id %}
			<a onclick="getBanidos()" class="waves-effect waves-light btn red darken-4" href="#lista_banidos" rel="modal:open">Ver lista de banidos</a>
			{% endif %}
		</div>
		<div id="main" class="col s8" style="height:70%;overflow:auto">
			{% for conversa in conversas %}
				{% if conversa.usuario_id == current_user.id %}
					<div class="msg_eu red darken-4"><p>{{ current_user.nickname }}: {{ conversa.conteudo }}</p></div>
				{% else %}
					{% if conversa.private_id %}
					{% if conversa.private_id == current_user.id %}
					<div class="msg_eles red lighten-1"><p>{{conversa.data_envio}} (reservadamente){{ conversa.remetente.nickname }}: {{ conversa.conteudo }}</p></div>
					{% endif %}
					{% else %}
					<div class="msg_eles red lighten-1"><p>{{conversa.data_envio}} {{ conversa.remetente.nickname }}: {{ conversa.conteudo }}</p></div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<div id="usuarios" class="col s4 center-align" style="height:70%;overflow:auto">
			<h5>Usuários</h5>
			<ul class="collection">
			{% for assoc in sala.usuarios %}
			<li class="collection-item center-align red darken-4"><p>{{ assoc.usuario.nickname }}</p></li>
			{% endfor %}
			</ul>
		</div>
		<div id="secretas" class="col s12" style="margin-top:3%;max-height: 5%;overflow:auto">
			<span>Enviar para: </span>
			<label>
				<input type="radio" name="msg_secreta" id="todos" value=""></input>
				<span>Todos</span>
			</label>
			{% for assoc in sala.usuarios %}
			<label>
				<input type="radio" name="msg_secreta" id="{{ assoc.usuario.nickname }}" value="{{ assoc.usuario.id}}"></input>
				<span>{{ assoc.usuario.nickname }}</span>
			</label>
			{% endfor %}
		</div>
		<div class="col s12">
			<div class="row">
				<div class="col s8">
					<input id="mensagem" type="text"></input>
				</div>
				<div class="col s4">
					<button id="send" class="btn waves-effect waves-light red darken-4" type="submit">Enviar
	                <i class="material-icons right">send</i>
	        		</button>
				</div>
		</div>
	</div>
	<div id="lista_banidos" class="modal">
	  <p>Carregando...</p>
	</div>
	<script src="/static/js/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="/static/css/jquery.modal.min.css" />
	<script>
		id = {{ id_inicial }}
		pausado = false;
		csrf_token = "{{ csrf_token() }}";

	    $.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
	                xhr.setRequestHeader("X-CSRFToken", csrf_token);
	            }
	        }
	    });

		setInterval(function(){
			if(!pausado) {
				procurar(id);
			}
		}, 3000)

		setInterval(function(){
			atualizar_estado()
		}, 10000)

		$('#send').click(function(){
			mensagem = $('#mensagem').val()
			if (mensagem) {
				pausado = true
				procurar(id)
				secreta = $("input[name=msg_secreta]:checked").val()
				$.post('{{ url_for('main.enviar_mensagem') }}', {mensagem:$('#mensagem').val(), sala:{{ id_sala }}, secreta: secreta},
					function(data){
						$('#main').append('<div class="msg_eu red darken-4"><p>{{ current_user.nickname }}: '+mensagem+'</p></div>')
						id = data['id']
						$('#mensagem').val('')
					})
				pausado = false;
			}
		})

		//realiza a busca por mensagens e usuários
		function procurar(identificador) {
			$.post('{{ url_for('main.conversa') }}', {id:identificador, sala:{{ id_sala }}},

			function(data){
				if(data['resposta'] == 'B'){
					alert('VOCÊ FOI BANIDO!')
					window.location.replace("/")
				}
				mensagens = data['mensagens']
				usuarios = data['usuarios']
				id = data['id']

				usuarioshtml = '<h5>Usuários</h5><ul class="collection">'
				secretashtml = "<span>Enviar para: </span><label><input type='radio' name='msg_secreta' id='todos' value=''></input><span>Todos</span></label>"
				mensagenshtml = ''
				for (posicao in mensagens){
					if(mensagens[posicao].private_id){
						mensagenshtml += "<div class='msg_eles red lighten-1'><p>"+mensagens[posicao].data_envio+"(reservadamente)"+mensagens[posicao].remetente+": "+mensagens[posicao].conteudo+"</p></div>"
					}
					else{
						mensagenshtml += "<div class='msg_eles red lighten-1'><p>"+mensagens[posicao].data_envio+" "+mensagens[posicao].remetente+": "+mensagens[posicao].conteudo+"</p></div>"
					}
				}
				$('#main').append(mensagenshtml)


				for (posicao in usuarios){
					{% if current_user.admin or current_user.id==sala.admin_id %}
					usuarioshtml += '<li class="collection-item center-align red darken-4"><p>'+usuarios[posicao].nome+'&nbsp;&nbsp;<button class="waves-effect waves-light btn red darken-4" onclick="banir('+usuarios[posicao].id+')">BANIR</button></p></li>'
					{% else %}
					usuarioshtml += '<li class="collection-item center-align red darken-4"><p>'+usuarios[posicao].nome+'</p></li>'
					{% endif %}
					secretashtml += "<label><input type='radio' name='msg_secreta' id='"+usuarios[posicao].nome+"' value='"+usuarios[posicao].id+"'></input><span>"+usuarios[posicao].nome+"</span></label>"
				}

				atual = $('#usuarios').html()
				if (atual != (usuarioshtml+'</ul>')) {
					$('#usuarios').html(usuarioshtml+'</ul>')
					$('#secretas').html(secretashtml)
				}
			})
		}

        function atualizar_estado(){
			$.post('{{ url_for('main.update_usuario_sala') }}', {sala_id:{{ id_sala}}},function(data){console.log(data)})
		}

		{% if current_user.admin or current_user.id==sala.admin_id %}
		
		function banir(id_banido){
			$.post('{{ url_for('sala.banir') }}', {sala_id:{{ id_sala}}, usuario_id:id_banido},function(data){console.log(data)})
		}

		function desbanir(id_desbanido){
			$.post('{{ url_for('sala.desbanir') }}', {sala_id:{{ id_sala}}, usuario_id:id_desbanido},function(data){
			})

			$.modal.getCurrent().close();
		}

		function getBanidos(){
			$.get('{{ url_for("sala.get_banidos",sala_id=id_sala) }}', function(data){
				html_banidos = ""
				banidos = data['banidos']
				if( !banidos[0] ){
					$('#lista_banidos').html('<p>Não há usuários banidos nesta sala.</p>')
				}
				else{
					for (posicao in banidos) {
						html_banidos += "<p>"+banidos[posicao].nickname+" <button onclick='desbanir("+banidos[posicao].id+")'>DESBANIR</button></p>"
					}

					$('#lista_banidos').html(html_banidos)
				}
			})
		}
		{% endif %}
	</script>
{% endblock %}
